<!DOCTYPE html>
<html>
{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
</head>

<body>
    <div class="d-flex flex-column p-5">
        <div class="d-flex p-5">
            <img class="avatar m-auto" src="/media/{{avatar}}" />
            <h1 class="title m-auto">Hi, {{name}}</h1>
            <button class="btn upload-btn m-auto" onclick="window.location='/accounts/add_student'">Add Student</button>
            <button class="btn upload-btn m-auto" onclick="window.location='/accounts/add_faculty'">Add Faculty</button>
        </div>
        <section id="classes">
            <div class="d-flex justify-bw">
                <h2 class="section-title m-default">Certificates</h2>
                <div class="d-flex">
                    <form method="get" action="/filter" class="ib d-flex">
                        <input name="filter" hidden>
                        <h2 class="m-auto section-title">From</h2>
                        <input class="m-default form-input-sm" name="from" type="date" id="from">
                        <h2 class="m-auto section-title">To</h2>
                        <input class="m-default form-input-sm" name="to" type="date" id="to">
                        <select name="type" name="type" id="type" class="theme form-input-sm m-default">
                            <option value="sports">Sports</option>
                            <option value="tech">Technical</option>
                            <option value="cultural">Cultural</option>
                            <option value="other">Other</option>
                            <option value="all" selected="true">All</option>
                        </select>
                        <button class="btn-sm m-default" type="submit" name="search">Search</button>
                    </form>
                    <form action="/download">
                        <input name="from" id="from-2" hidden>
                        <input name="to" id="to-2" hidden>
                        <input name="type" id="type-2" hidden>
                        <button class="btn-sm btn-info m-default" name="download">Download</button>
                    </form>
                </div>
            </div>
            <div style="overflow:auto">
                <table id="classes-viewer" width="100%" cellspacing="0">
                    <tr class="class-row">
                        <td class="class-details">
                            <span class="class-identifier">S.no</span>
                        </td>
                        <td class="class-details">
                            <span class="class-identifier">Title</span>
                        </td>
                        <td class="class-details">
                            <span class="class-identifier">By</span>
                        </td>
                        <td class="class-details">
                            <span class="class-identifier">Type</span>
                        </td>
                        <td class="class-details">
                            <span class="class-identifier">Date</span>
                        </td>
                        <td></td>
                    </tr>
                    {%for key,values in data.items%}
                    <tr class="class-row">
                        <td class="class-details">
                            <span class="class-name class-identifier">{{key}}
                            </span>
                        </td>
                        <td class="class-details">
                            <span class="class-name class-identifier">{{values.title}}
                            </span>
                        </td>
                        <td class="class-details">
                            <a href="/accounts/viewProfile/{{values.uid}}" style="text-decoration:none;">
                                <span class="class-name class-identifier">{{values.uname}}
                                </span></a>
                        </td>
                        <td class="class-details">
                            <span class="class-name class-identifier">{{values.type}}
                            </span>
                        </td>
                        <td class="class-details">
                            <span class="class-name class-identifier">{{values.date}}
                            </span>
                        </td>
                        <td class="actions justify-center" style="display:flex;">
                            <button class="btn-sm action-btn"
                                onclick="window.location='/view/{{values.id}}'">View</button>
                            <button class="btn-sm btn-info action-btn"
                                onclick="window.location='/edit/{{values.id}}'">Edit</button>
                            <button class="btn-sm btn-danger action-btn"
                                onclick="window.location='/delete/{{values.id}}'">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </section>
        <script>
            document.getElementById("from").addEventListener("change", function () {
                document.getElementById("from-2").value = document.getElementById("from").value;
            });
            document.getElementById("to").addEventListener("change", function () {
                document.getElementById("to-2").value = document.getElementById("to").value;
            });
            document.getElementById("type").addEventListener("change", function () {
                document.getElementById("type-2").value = document.getElementById("type").value;
            });
        </script>
</body>

</html>